body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
}

.header {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
    text-align: left;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

@media print {
    .header {
        display: none;
    }
}

h1, h2, h3 {
    color: #343a40;
    margin-top: 40px;
    margin-bottom: 20px;
}

p, ul {
    margin: 20px 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #0056b3;
}
